operating_dir=/tmp/cass_scale
num_node=128
num_observers=1
num_observed_nodes=1
property_file=$operating_dir/sc.properties
rawdata_dir=$operating_dir/output
machinelist=machinelist.template
collecteddata_dir=/tmp/rawdata
cassandra_data_dir=/tmp/archive
aspectj=/usr/local/aspectj1.8
cassandra_log_dir=/tmp/logdir
testing_cassandra=vanilla
